<!DOCTYPE html>
<html>
<head>
	<%- include ("partials/head") %>
	<link rel="stylesheet" type="text/css" href="/css/buyer_dashboard.css">
</head>
<body>

	<%- include ('partials/logged_in_header') %>
	<%- include ('partials/items_navbar') %>

	<% items.forEach(item =>{ %>
	<a href="/products/id/<%= item._id %>">
		<div class="card">
			<img class="card-img-top" src="<%= item.images%>" style="width:80%;height: 60%;">
			<div class="card-body">
				<h4 class="card-title"><%= item.name %></h4>
				<p><%= item.category %></p>
				<p><%= item.price %></p>
			</div>
		</div>
	</a>
	<% }) %>


</body>
</html>