<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
	
	<%- include ("partials/head") %>
	<link rel="stylesheet" type="text/css" href="/css/buyer_dashboard.css">
</head>

<body id= "<%= name %>">
=======
	<%- include ("partials/head") %>
	<link rel="stylesheet" type="text/css" href="/css/buyer_dashboard.css">
</head>
<body>
>>>>>>> origin/dev/E-Com-Subhash

	<%= name %>

	<%- include ('partials/logged_in_header') %>
	<%- include ('partials/items_navbar') %>

<<<<<<< HEAD
	<div class="container">
		<div class="row">
			<% for (var i=0; i<items.length; i++) { %>
				<div class="col-sm-4">
					<div class="card">
						<a href="/products/id/<%= items[i]._id %> ">
							<img class="card-img-top" src="<%= items[i].images  %> ">
						</a>

						<div class="card-body">
							<h6><%= items[i].name %> </h6>
							<p>Rs. <%= items[i].price %></p>

							<div data-toggle="tooltip" title="Wishlist" class="material-icons" id="<%= items[i].id %>">shopping_cart</div>
						</div>
					</div>
				</div>
			<% } %>
		</div>	
	</div>

=======
	<% items.forEach(item =>{ %>
	<a href="/products/id/<%= item._id %>">
		<div class="card">
			<img class="card-img-top" src="<%= item.images%>" style="width:80%;height: 60%;">
			<div class="card-body">
				<h4 class="card-title"><%= item.name %></h4>
				<p><%= item.category %></p>
				<p><%= item.price %></p>
			</div>
		</div>
	</a>
	<% }) %>
>>>>>>> origin/dev/E-Com-Subhash


</body>
</html>