<!DOCTYPE html>
<html>
<head>
	
	
	<%- include ("partials/head") %>
	<link rel="stylesheet" type="text/css" href="/css/buyer_dashboard.css">
</head>
<body id= "<%= name %>">

	<%- include ('partials/logged_in_header') %>
	<%- include ('partials/items_navbar') %>

	<% items.forEach(item =>{ %>

	
	<div class="card">
		<a href="/products/id/<%= item._id %> ">
			<img class = "card-img-top" src="<%= item.images %> ">
		</a>
		<div class="card-body">
			<h4 class="card-title"><%= item.name %></h4>
			<div class="bottom-div">
				<div class="bottom">Rs. <%= item.price %></div>

				<a ><div data-toggle="tooltip" title="Wishlist" class="material-icons" id="<%= item.id %>" >shopping_cart
					</div></a>
			</div>
					
		</div>
	</div>

	<% }) %>

<script type="text/javascript" src="/js/buyer_dashboard.js"></script>
</body>
</html>